{% extends 'video_collection/base.html' %}

{% block content %}

<h2>Video List</h2>

<h3>Search Videos</h3>

<form method="GET" action="{% url 'video_list' %}">
    {{ search_form }}
    <button type="submit">Search</button>
</form>

{% for video in videos %}
    <div>
        <h3>{{ video.name }}</h3>
        <p>{{ video.notes }}</p>
        <iframe width="420" height="315" src="https://youtube.com/embed/{{video.video_id}}"></iframe>
        <p><a href="{{video.url}}">{{ video.url }}</a></p>
    </div>

{% empty %}
    <p>No vids</p>

{% endfor %}

{% endblock %}